nav {
    text-align: center;
    background-color: whitesmoke;
    padding: 15px;
}
html{
    background-color: white;
}
.navi{
    font-size: 18;
    font-family: 'Times New Roman', Times, serif;
    width: 30%;
    height: 5%;
    border-radius: 50px;
    border-color: black;
}
.view {
    text-align: center;
    background-color: white;
}
.head{
    padding-top: 50px;
    font-size: 40;
    font-family: 'Times New Roman', Times, serif;
}
.break{
    background-color: #f5ad1d;
    color: #f5ad1d;
}

.content{
    font-size: 18;
    font-family: 'Times New Roman', Times, serif;
}